* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit,sans-serif;
}
body {
    width: 100%;
    height: auto;
    overflow: auto;
    background: #439cfb;
    background: linear-gradient(to left bottom,#439cfb,#b597f6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 85%;
    height: 665px;
    background: #fff;
    display: flex;
    margin: 75px 0;
    border-radius: 10px;
    box-shadow: 0 10px 25px -10px rgb(0,0,0,0.5);
}
.container .leftDiv{
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.container .rightDiv{
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.leftDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.imgDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px  0 0 0;
}
.imgDiv .image {
    width: 150px;
    height: 150px;
}
.leftDiv .label {
    align-self: flex-start;
    padding: 25px 0 0 25px;
    font-family: righteous;
    font-size: 1.2rem;
}
.leftDiv .textEntered {
    padding: 0 25px;
    font-size: 1.05rem;
    align-self: flex-start;
    line-height: 1.2rem;
}
.leftDiv a {
    align-self: flex-start;
    margin: 0 0 -175px 25px;
    width: 25%;
    display: none;
}
.leftDiv button {
    background-color: #439cfb;
    outline: none;
    border: none;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.05rem;
    transition: 0.3s;
    cursor: pointer;
}
.leftDiv button:hover {
    background-color: #30c67c;
}
.len {
    align-self: flex-end;
    padding: 25px 50px;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#heading {
    padding: 0 0 25px 0;
    font-size: 2rem;
    font-family: righteous;
}
.inputText {
    width: 80%;
    padding: 15px 15px;
    font-size: 1.05rem;
    resize: none;
    border: 3px solid #9E9E9E;
    border-radius: 10px;
    outline: none;
}
.inputText:focus {
    border: 3px solid #439cfb;
}
.options {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
span {
    display: flex;
    width: 100%;
    padding: 10px 0;
}
span p{
    padding: 0 50px 0 0;
}
.btnDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.btnDiv button {
    background-color: #439cfb;
    outline: none;
    border: none;
    width: 80%;
    padding: 15px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.05rem;
    transition: 0.3s;
    cursor: pointer;
}
.btnDiv button:hover {
    background-color: #b597f6;
}
.btnDiv .bottom {
    padding: 25px 0 0 0;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    border-radius: 10px;
}
.toast {
    position: absolute;
    background-color: #30c67c;
    top: 20px;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 25px -10px rgb(0,0,0,0.5);
    display: none;
}
.show {
    position: absolute;
    background-color: #30c67c;
    top: 20px;
    color: #fff;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 25px -10px rgb(0,0,0,0.5);
    display: flex;
}
.error {
    background-color: #ff5858;
    position: absolute;
    top: 20px;
    color: #fff;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 25px -10px rgb(0,0,0,0.5);
    display: flex;
}
.history {
    width: 85%;
    color: #fff;
    height: auto;
    display: flex;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.heading {
    font-size: 5rem;
    font-family: righteous;
    padding: 10px 25px;
}
.history .leftBox {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.leftBox .leftParent {
    width: 100%;
    background-color: #eee;
    height: 350px;
    margin: 25px 0;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: -10px 10px 25px -10px rgb(0,0,0,0.5);
}
.leftBox .leftParent .pText {
    font-size: 1.3rem;
    padding: 15px 25px;
}
.history .rightBox {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightBox .rightParent {
    width: 100%;
    background-color: #fff;
    height: 350px;
    margin: 25px 0;
    display: flex;
    box-shadow: 10px 10px 25px -10px rgb(0,0,0,0.5);
    border-radius:  0 10px 10px 0;
    justify-content: center;
    align-items: center;
}
.rightBox img {
    width: 350px;
    height: 100%;
    padding: 15px;
}
.clearHistory {
    background-color: #ff5858;
    color: #fff;
    outline: none;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    margin: 50px 0 50px 0;
    font-size: 1.05rem;
    transition: 0.3s;
    cursor: pointer;   
    display: none;
}
.clearHistory:hover {
    background-color: #ff9090;
}
i {
    padding: 0 20px 0 0;
}